*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.container_all{
  height: 100vh;
  background-color: lightgreen;
  /* background-color: #141922; */
}
.gray_color{
  color: #a3a3a3;
}
.white_color{
  color: #fff;
}
.font_size_16{
  font-size: 16px;
  font-weight: 600;
}
.font_size_13{
  font-size: 13px;
  font-weight: 500;
}
.font_size_11{
  font-size: 11px;
  font-weight: 500;
}
ul li a.border{
  font-size: 14px;
  font-weight: 500;
}
.text_uppercase{
  text-transform: uppercase;
}
a,
ul li,
li a.name_playlist{
  list-style: none;
  text-decoration: none;
}
ul.list li{
  margin: 10px 0;
}
ul.scelta_genere li {
  display: inline-block;
}
ul.scelta_genere li a{
  margin-right: 10px;
  justify-content: space-between;
}
ul.scelta_genere{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main{
  display: flex;
  height:calc(100% - 90px);
  overflow: auto;
}
.nav_bar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  height: 90px;
  position: fixed;
}
.menu_aside{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 230px;
  height: calc( 100% - 90px);
  position: fixed;
  z-index: 10;
}
div.img_logo{
  width:170px;
  display: inline-block;
  text-align: center;
  margin: 20px 10px;
}
img.logo{
  width: 90%;
}
.button{
  align-items: center;
  border: 2px solid #fff;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 20px;
  margin-right: 20px;
}
img.home,
img.search,
img.library{
  width: 20%;
  vertical-align: middle;
  padding-left: 20px;
  margin-bottom: 10px;
}
img.profile{
  background-color: gray;
  width: 10%;
  padding:0;
  vertical-align: middle;
}
p.john{
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}
hr{
  width:90%;
  margin: 10px 0;
  background-color: #a3a3a3;
}
a.border:hover{
  border-left: 3px solid #adff2f;
  color: #fff;
}
.plus_crea:hover,
ul.list a:hover,
ul.scelta_genere li a:hover,
.download:hover{
  color:#fff;
}
.main_menu{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
div.crea_playlist,
div.playlist,
.bottom_menu{
  margin-left: 20px;
  vertical-align: middle;
}
div.crea_playlist{
  height: 100px;
}
div.playlist{
height: 80%;
overflow: auto;
}
.bottom_menu{
margin-top: auto;
height: 20%;
width: 210px;
margin-top: auto;
}
h4{
  margin: 15px 0 5px 0;
  padding: 5px 0;
  vertical-align: middle;
}
i.plus_crea{
  font-size: 35px;
  color: #a3a3a3;
  vertical-align: middle;
}
.main_content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  margin-left: 240px;
  width: 100%;
}
.main_content,
div.titolo_genere,
div.sotto_categoria_genere{
width: 100%;
}
h2{
  margin: 20px 0 20px 10px;
}
.raccolta_album,
.creato_per{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
div.album_item{
  width: calc((100%/6) - 10px);
  margin-right: 10px;
}
.profile{
  border-radius: 50%;
  overflow: hidden;
}
img.album-cover{
width: 100%;
}
img.cover_profile{
  width: 100%;
  height: 100%;
}
footer{
  height: 90px;
  background-color: pink;
  position: relative;
  z-index: 20;
}
