*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.container_all{
  height: 100vh;
  background-color: #141922;
}
.gray_color{
  color: #a3a3a3;
}
.white_color{
  color: #fff;
}
.font_size_16{
  font-size: 16px;
  font-weight: 600;
}
.font_size_13{
  font-size: 13px;
  font-weight: 500;
}
.font_size_11{
  font-size: 11px;
  font-weight: 500;
}
.font_size_10{
  font-size: 10px;
}
.bolder{
  font-weight: bold;
}
ul li a.bolder:hover,
.play_crea_list:hover{
  font-size: 14px;
  font-weight: 500;
}
.text_uppercase{
  text-transform: uppercase;
}
.text_center{
  text-align: center;
}
a,
ul li,
li a.name_playlist{
  list-style: none;
  text-decoration: none;
}
ul.list li{
  margin: 10px 0;
}
ul.scelta_genere {
  display: flex;
}
ul.scelta_genere li{
  padding: 10px;
}
ul.scelta_genere li a{
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
}
ul.scelta_genere{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main{
  display: flex;
  height:calc(100% - 90px);
  overflow: auto;
}
.nav_bar{
  display: flex;
  z-index: 10;
  justify-content: flex-end;
  align-items: center;
  width: calc( 100% - 220px );
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  height: 90px;
  position: fixed;
}
.menu_aside{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 230px;
  height: calc( 100% - 90px);
  position: fixed;
  z-index: 20;
  padding: 0 3px;
}
.menu_aside_mobile{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 70px;
  height: calc( 100% - 90px);
  position: fixed;
  z-index: 0;
  padding: 0 3px;
  visibility: hidden;
}
div.img_logo{
  width:170px;
  display: inline-block;
  margin: 20px 10px;
}
div.img_logo_small{
  width: 50%;
  display: inline-block;
  margin: 5px 15px;
}
img.logo{
  width: 95%;
}
.button{
  align-items: center;
  border: 2px solid #fff;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 20px;
  margin-right: 30px;
  font-size: 12px;
  transition: 1s;
}
.button:hover{
  transform: scale(1.2);
}
img.home,
img.search,
img.library{
  width: 10%;
  padding: 7px 0;
  vertical-align: middle;
  margin-bottom: 5px;
  margin-left: 17px;
  opacity: 0.7;
}
img.home.mobile,
img.search.mobile,
img.library.mobile{
  width: 40%;
}
img.home:hover,
img.search:hover,
img.library:hover{
  opacity: 1;
}
img.profile{
  background-color: gray;
  width: 10%;
  padding:0;
  vertical-align: middle;
  border-radius: 20px;
}
img.profile_mobile{
  background-color: gray;
  width: 40%;
  margin: auto;
  margin-top: 25px;
  padding:0;
  border-radius: 20px;
  display: block;
}
div.app_profile_mobile{
  margin-top: auto;
}
p.john{
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}
a.app::after{
content: "";
display: block;
border-bottom: 1px solid #a3a3a3;
border-width: thin;
width: 90%;
margin: 10px 0;
}
ul.scelta_genere li a:focus:after{
content: "";
display: block;
text-align: center;
margin: auto;
height: 3px;
margin-bottom: -3px;
background-color: #adff2f;
width: 40%;
}
ul.scelta_genere li a:focus{
  color: #fff;
}
ul li.border a:focus{
  content: "";
  display: block;
  border-left: 3px solid #adff2f;
  margin-left: -3px;
  color: #fff;
  font-weight: 700;
}
ul.icone{
border-left: 3px;
}
.plus_crea:hover,
ul.list a:hover,
ul.scelta_genere li a:hover,
.download:hover,
a.app:hover,
a.play_crea_list:hover,
ul.icone li a:hover,
a.icon_heart:hover{
  color:#fff;
}
.main_menu{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
div.crea_playlist,
div.playlist,
.bottom_menu{
  margin-left: 20px;
  vertical-align: middle;
}
div.crea_playlist{
padding: 10px 0;
}
a.play_list{
  padding-bottom: 10px;
  display: inline-block;
}
div.playlist{
height: 80%;
overflow: auto;
}
.bottom_menu{
margin-top: auto;
height: 20%;
width: 210px;
margin-top: auto;
}
h4{
  margin: 15px 0 5px 0;
  padding: 5px 0;
  vertical-align: middle;
}
h3{
  margin: 15px 0 10px 0;
}
i.plus_crea{
  font-size: 35px;
  color: #a3a3a3;
  vertical-align: middle;
}
.main_content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  margin-left: 240px;
  width: 100%;
}
.main_content,
div.titolo_genere,
div.sotto_categoria_genere{
width: 100%;
}
h2{
  margin: 20px 0 10px 0;
}
p.sub{
  font-weight: bold;
}
p.suggest{
  margin-bottom: 20px;
}
.raccolta_album,
.creato_per{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
img.album-cover{
  display: block;
  transition: 1s;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
}
div.album_item{
  width: calc((100%/6) - 10px);
  margin-right: 10px;
}
div.container_img{
  position: relative;
}
div.album_item:hover .overlay{
  opacity: 0.8;
  overflow: hidden;
}
.text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}
img.album-cover.cover_profile{
  border-radius: 50%;
  overflow: hidden;
}
img.album-cover{
width: 100%;
margin-top: 10px;
}

/* footer */
footer{
  height: 90px;
  background-color: pink;
  position: relative;
  z-index: 30;
  display: flex;
  flex-wrap: wrap;
  background-color: #282828;
  justify-content: space-between;
}
div.media_player_start,
div.media_player_nav,
div.media_player_end{
  width: calc((100% /3));
  display: flex;
  justify-content: space-between;
}
.media_player_start{
  /* padding-right: 10px; */
  background-color: #282828;
  flex-wrap: nowrap;
  justify-content: flex-start;
  /* max-width: 220px; */
}
div.album_riprodotto{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15%;
}
img.riprodotto{
  width: 50%;
}
div.titolo_riprodotto{
  display: block;
  margin: auto 0;
}
h5{
  margin-bottom: 2px;
}
div.heart_folder{
  display: block;
  margin: auto;
  margin-left: 20px;
}
div.list_desk_volume{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  width: 90%;
}
i.heart_icon{
  padding-right: 7px;
}
.media_player_nav{
  /* width: 100%; */
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
div.first_player,
div.second_player{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
div.first_player{
  margin: 0px auto;
  align-items: center;
}
a.icon_play{
  margin: 0 10px;
}
div.second_player{
  width: 90%;
  margin: 10px auto;
  align-items: center;
}
a i.play_more{
  font-size: 30px;
}
div.time{
  display: inline-block;
}

 /* avanzamento_bar, */
 div.progress_bar{
  display:block;
  width: 80%;
  background-color: gray;
  border: 2px solid gray;
  margin: 0 auto;
  vertical-align: middle;
}
div.progress_bar:hover:after{
  content: "";
  display: block;
  border-bottom: 3px solid #adff2f;
  margin: auto;
  width: 19%;
  position: absolute;
  top: 65%;
}
i.set_volume,
i.set_volume:hover,
i.set_volume_audio,
i.set_volume_audio:hover{
  position:absolute;
  z-index: 10;
  padding-left: 18%;
  top: 60%;
  width: 100%;
  font-size: 12px;
}
div.progress_bar>i.set_volume,
div.volume_bar>i.set_volume_audio{
  color: transparent
}
div.progress_bar>i.set_volume:hover,
div.volume_bar>i.set_volume_audio:hover{
  color: gray;
}
/* bar volume */
div.volume_bar{
 display:block;
 background-color: gray;
 border: 2px solid gray;
}
.media_player_end{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  position: relative;
}
i.list_desk_icon{
 font-size: 13px;
}
div.volume_bar{
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  align-items: flex-end;
}
div.volume_bar:hover:after{
  content: "";
  display: block;
  border-bottom: 3px solid #adff2f;
  margin: auto;
  width: 19%;
  position: absolute;
  top: 48%;
}
i.set_volume_audio,
i.set_volume_audio:hover{
  position:absolute;
  z-index: 10;
  padding-left: 18%;
  top: 43%;
  width: 30%;
  font-size: 12px;
}



@media screen and (max-width: 1100px) {
  div.album_item{
    width: calc((100%/4) - 10px);
  }
}
@media screen and (max-width: 768px) {
  div.album_item{
    width: calc((100%/2) - 10px);
  }
  /* ul.scelta_genere li a {
  /* margin-right: 35px; */
  /* margin-top: 20px;
  /* } */
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 15px;
  }
  p.sub{
    font-size: 10px;
  }
  .button {
      margin-right: 10px;
  }
  a.icon_play {
    margin: 0px 5px;
}
div.media_player_start{
}
div.media_player_nav{

}
div.media_player_end{
}

}
/* @media screen and (max-width: 570px) */
@media screen and (max-width: 420px) {
  .menu_aside{
    visibility: hidden;
  }
  .main_content {
    margin-left: 80px;
  }
  .menu_aside_mobile{
    visibility: visible;
  }
  ul.scelta_genere li a{
    margin-right: 10px;
    font-size: 10px;
  }
  div.nav_bar{
    width: 100%;
  }
    a.icon_play {
    margin: 0px 2px;
  }
  div.album_riprodotto{
    width: 50%;
  }
  /* i{
    font-size: 12px;
  } */
  /* div.heart_folder {
    margin: auto 0;
} */
}
 @media screen and (max-height:170px) {
  .nav_bar{
    z-index: 25;
  }
  .menu_aside{
    z-index: 15;
  }
  footer{
    z-index: 20;
  }
}
